#home-page-container {
  text-align: center;
  overflow: hidden;
  height: 100%; }
  #home-page-container .content-row {
    margin-top: 6%; }
  #home-page-container .machine-button {
    width: 600px;
    height: 120px;
    font-size: 40px; }
  #home-page-container h1 {
    font-size: 50px; }
