@font-face {
  font-family: Ekkamai;
  src: url("../assets/fonts/EkkamaiStandard-Light.ttf"); }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Ekkamai;
  background: linear-gradient(7deg, white 0%, white 15%, lightgray 0%, lightgray 85%, white 0%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%; }

.page-container {
  width: 60%;
  height: auto;
  margin: auto; }

.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll; }

hr {
  border-color: black;
  margin-top: 0; }

a {
  color: black; }

a:hover {
  color: black;
  text-decoration: none; }

#menu-container {
  text-align: center;
  width: 250px;
  height: 55px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto 2vw auto;
  border: 1px solid black;
  border-radius: 15px;
  padding-top: 4px;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  overflow-wrap: break-word; }

.menu-button {
  border-color: black;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 15px; }

#panel-container {
  width: 80%;
  height: 81%;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 3% auto auto auto;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  overflow-wrap: break-word;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 30px 10px 30px; }

#detail-container {
  border: 1px solid darkgray;
  border-top: 0;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
