#sample-pattern-page-container table {
  width: 70%;
  text-align: center; }

#sample-pattern-page-container th {
  text-align: center;
  color: green; }

#sample-pattern-page-container input {
  text-align: center; }
